@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap'); */

:root {
    --gradient-color-1: linear-gradient(135deg, #006eff, #00fbff);
    --text-light-color: #FFFFFF;
    --background-color: #121214;
    --social-hover-color: #00fbff;
    --social-title-color: #9e9e9e;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: block;

}

* {
    /* font-family: 'Special Elite'; */
    font-family: Fira Code, monospace;
}

body {
    height: 100vh;
    -webkit-animation: 100vw;
    /* overflow: hidden; */
    letter-spacing: .2rem;
    color: var(--text-light-color);

}

ul {
    display: block;
    list-style: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer {
    bottom: 0;
}

.container {
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 2.25rem;
}

.bg_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}

.container .profile-logo {
    overflow: hidden;
}

.container .profile-logo img {
    margin-top: auto;
    height: 200px;
    width: 200px;
}

.container .profile-title {
    font-weight: bold;
    background-image: var(--gradient-color-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .profile-subtitle {
    margin-top: 1rem;
    font-weight: 300;
    font-size: 1rem;
}

.menu {
    margin: 0 auto auto auto;
    display: flex;
    justify-content: center;
}

.menu ul {
    margin-top: 0;
}
.button {
    color: var(--text-light-color);
    text-decoration: none;
    font-size: 1rem;
}

.container .social-title {
    color: var(--social-title-color);
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.container .social-icons li {
    margin-right: 3rem;
    display: inline-block;
}

.menu a,
.social-icons i {
    transition: 0.5s linear;
    /* vendorless fallback */
    -o-transition: 0.5s linear;
    /* opera */
    -ms-transition: 0.5s linear;
    /* IE 10 */
    -moz-transition: 0.5s linear;
    /* Firefox */
    -webkit-transition: 0.5s linear;
    /*safari and chrome */
}

.menu a:hover,
.social-icons i:hover {
    color: var(--social-hover-color);
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in
}

.social-icons li i {
    color: var(--text-light-color);
    font-size: 2rem;
    transition: 0.2s;
}

.container .footer-title {
    /* margin-top: 5rem; */
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--social-title-color);
}



@media (max-width:420px) {

    body {
        overflow: visible;
    }

    .container {
        text-align: center;
        top: 50%;
        left: 50%;
        font-size: 1.75rem;
    }

    .container .profile-title{
        margin: auto 0.7rem;
    }
    .container .profile-logo img {
        margin-top: 2rem;
        height: 150px;
        width: 150px;
    }

    .container .profile-subtitle {
        margin: 1rem 10px 1rem 10px;
    }

    .container .social-title {
        margin: 1rem 2rem;
    }

    .container .social-icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .social-icons li {
        margin-right: 3rem;
        padding: 1rem;
        display: inline-block;
    }

    .container .footer-title {
        margin: 1.2rem;
        padding: 10px;
    }

}
