@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: 'Special Elite';
}


.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background-size: cover; 
}

.bg {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: #fff;
}

.logo {
    text-align: center;

}
.logo img {
    margin: auto;

    height: 200px;
    width: 200px;
    
}